html, body{
    font-family: 'Merriweather', serif;
}
.navbar {
    margin-bottom: 20px;
}
.nav-block-science, .nav-block-random, .nav-block-news, .nav-block-technical{
    height: 60px;
    display: table;
    background-color: #ffffff;
    cursor: pointer;
    color: #000000;
}
.nav-div{
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}
.nav-div h2{
    margin:0px;
}
.nav-block-science:hover{
    background: #3f51b5;
    color: #ffffff;
}
.nav-block-random:hover{
    background: #f44336;
    color: #ffffff;
}
.nav-logo{
    border: 0px solid #000000;
    height: 160px;
    padding: 0px;
    align-content: center;
    background: url(../img/logo/152.png) no-repeat center #3e464c;
}
.nav-block-news, .nav-block-technical{
    border-left: 0px solid #000000;
    border-right: 0px solid #000000;
}
.nav-block-news:hover{
    background: #ff5722;
    color: #ffffff;
}
.nav-block-news, .nav-block-technical{
    margin: 0px 3px;
}
.nav-block-technical:hover{
    background: #536dfe;
    color: #ffffff;
}
.main{
    background: url(../img/back.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}
.body{
    padding-top: 20px;
}